// COLORS
$primary-color: #1fdaaa;
$secondary-color: #06d6a0;

$background-color: #118ab2;

$white-text: #fff; // For Headings

$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
